<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Прайс</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-links">
          <li><a href="/">Главная</a></li>
          <li><a href="/price.html">Цены</a></li>
          <li><a href="/cart.html">Корзина</a></li>
        </ul>
        <div id="auth-links" hx-get="/api/auth/me" hx-trigger="load"></div>
      </nav>
    </header>

    <main>
      <section class="price-section">
        <h1>Цены на аренду инструментов</h1>
        <div
          class="price-container"
          id="price-list"
          hx-get="/api/prices"
          hx-trigger="load"
        ></div>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 DIANA. Все права защищены.</p>
    </footer>
  </body>
</html>
